<h2>@ViewBag.Title</h2>


<address>
    ITgeek<br />
    Akademicka 4/203<br />
    35-060 Rzeszów
</address>

<address>
    <strong>Michał Babula:</strong> <a href="mailto:127666@stud.prz.edu.pl">127666@stud.prz.edu.pl</a><br />
    <strong>Grzegorz Dudek:</strong> <a href="mailto:127570@stud.prz.edu.pl">127570@stud.prz.edu.pl</a>
</address>