@model IEnumerable<ITgeek.projekt>


<div class="col-md-4">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("Projekty", "Projekty", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        Kategoria: @Html.DropDownList("kategoria", "-")
        Szukaj: @Html.TextBox("szukaj") 
        <input type="submit" value="Szukaj" />
    </div>
}

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.nazwa_projektu, "Wyswietl", "Projekty", new {id = item.id_projekt}, null)
            </td>
        </tr>
    }
</table>
